{% extends 'layout.html' %}
{% block body %}
<h1> Twitter </h1>
<a href="/authorize/twitter" class="btn btn-lg btn-primary">Connect with Twitter</a>
<a href="/settings/twitter/disconnected" class="btn btn-lg btn-danger">Disconnect Twitter</a>
<p> Current status: {{status[0]}} </p>

<h1> Tumblr </h1>
<a href="/authorize/tumblr" class="btn btn-lg btn-info">Connect with Tumblr</a>
<a href="/settings/tumblr/disconnected" class="btn btn-lg btn-danger">Disconnect Tumblr</a>
<p> Current status: {{status[1]}} </p>
{% endblock %}
